body {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 1000px;
    margin: 5% auto;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
}

.subtitle {
    font-size: 25px;
    font-weight: lighter;
    color: lightgray;
}

.counter {
    display: inline-block;
    float: inside;
    background-color: black;
    box-shadow: darkgray;
    margin: auto 10%;
}

.count {
    font-size: 30px;
    color: darkred;
}

.warning {
    color: #ff0000;
    font-weight: bolder;
}

@media (max-width: 700px) {
    body {
        margin: 5%;
        width: unset;
    }
    .subtitle {
        font-size: 15px;
    }
}